.form {
  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
  }
}

.jsonInput {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 13px;
  line-height: 22px;
}
